
#missingtech-wrapper { text-align: center; }
#missingtech-wrapper h3:first-child { margin-top: 0; }
#missingtech-question .btn { padding: 4%; box-sizing: border-box; margin-top: 20px; font-size: 1.17em; }